*{
    font-family: "apple-system" ,"BlinkMacSystemFont" ,"Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu,Cantarell" , "Helvetica Neue" , "sans-serif";
}

body{
    margin: 0px;
    background-color: whitesmoke;
}

.dashboard{
    display: flex;
    justify-content: space-between;
    padding: 0px 150px;
    box-shadow: 2px 1px 2px #eee;
    background-color: white;
}

.branding{
    display: flex;
}

#dashboard-logo{
    padding: 10px 0px;
    cursor: pointer;
}

#dashboard-text{
    line-height: 0px;
    font-size: 35px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.links{
    display: flex;
}

.dashboard-linkedin{
    display: flex;
    opacity: 0.75;
    cursor: pointer;
}

#dashboard-linkedin-logo{
    margin: 40px 0px 35px 50px;
}

#dashboard-linkedin-text{
    padding-left: 7px;
    margin: 35px 0px 35px 0px;
    font-size: 25px;
    font-weight: 750;
    text-decoration: none;
    color: black;
}

.dashboard-linkedin:hover{
    opacity: 1;
    text-decoration: underline;
}

.dashboard-github{
    display: flex;
    opacity: 0.75;
    cursor: pointer;
}

#dashboard-github-logo{
    margin: 40px 0px 35px 25px;
}

#dashboard-github-text{
    padding-left: 7px;
    margin: 35px 0px 35px 0px;
    font-size: 25px;
    font-weight: 750;
    text-decoration: none;
    color: black;
}

.dashboard-github:hover{
    opacity: 1;
    text-decoration: underline;
}

.main-body{
    text-align: center;
    padding-bottom: 75px;
}

#main-heading{
    line-height: 0px;
    font-size: 150px;
    padding-top: 25px;
}

#sec-heading{
    line-height: 0px;
    font-size: 25px;
    opacity: 0.75;
}

#third-heading{
    line-height: 0px;
    font-size: 18px;
    padding: 15px 0px 30px;
    font-weight: 250;
    opacity: 0.5;
    margin: 0px;
}

#homepage-button{
    background-color: #387ed1;
    color: white;
    text-decoration: none;
    padding: 5px 50px 9px 50px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

#homepage-button:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 25px 175px 0px 175px;
    opacity: 0.65;
    background-color: white;
    box-shadow: 0 -1px 2px #eee;
}

#checkLink-img{
    padding-left: 15px;
}

#checkLink-text{
    line-height: 0px;
}

#newLink-img{
    padding-left: 0px;
}

#newLink-text{
    line-height: 0px;
    padding-right: 0px;
}

#contact-img{
    padding-left: 15px;
}

#contact-text{
    line-height: 0px;
    text-align: center;
}

@media (max-width: 1200px) {
    .dashboard{
        padding: 0px 80px;
    }
    
    .footer{
        padding: 25px 80px 0px 80px;
    }
    
    #main-heading{
        font-size: 120px;
    }
}

@media (max-width: 992px) {
    .dashboard{
        padding: 0px 50px;
    }
    
    #dashboard-text{
        font-size: 30px;
    }
    
    #dashboard-linkedin-logo{
        margin: 40px 0px 35px 30px;
    }
    
    #dashboard-linkedin-text{
        font-size: 22px;
    }
    
    #dashboard-github-logo{
        margin: 40px 0px 35px 20px;
    }
    
    #dashboard-github-text{
        font-size: 22px;
    }
    
    #main-heading{
        font-size: 100px;
    }
    
    #sec-heading{
        font-size: 22px;
    }
    
    .footer{
        padding: 25px 50px 0px 50px;
    }
}

@media (max-width: 768px) {
    .dashboard{
        padding: 0px 30px;
        flex-direction: column;
        align-items: center;
    }
    
    .branding{
        margin-bottom: 10px;
    }
    
    #dashboard-text{
        font-size: 28px;
    }
    
    .links{
        flex-direction: column;
        align-items: center;
    }
    
    #dashboard-linkedin-logo{
        margin: 20px 0px 20px 0px;
    }
    
    #dashboard-linkedin-text{
        margin: 15px 0px 15px 0px;
        font-size: 20px;
    }
    
    #dashboard-github-logo{
        margin: 20px 0px 20px 0px;
    }
    
    #dashboard-github-text{
        margin: 15px 0px 15px 0px;
        font-size: 20px;
    }
    
    #main-heading{
        font-size: 80px;
    }
    
    #sec-heading{
        font-size: 20px;
    }
    
    #third-heading{
        font-size: 16px;
        padding: 15px 20px 30px;
    }
    
    #homepage-button{
        padding: 5px 40px 9px 40px;
        font-size: 18px;
    }
    
    .footer{
        flex-direction: column;
        padding: 25px 30px 0px 30px;
    }
    
    .footer > div {
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .dashboard{
        padding: 0px 20px;
    }
    
    #dashboard-logo{
        padding: 8px 0px;
        width: 50px;
        height: auto;
    }
    
    #dashboard-text{
        font-size: 24px;
    }
    
    #dashboard-linkedin-text{
        font-size: 18px;
    }
    
    #dashboard-github-text{
        font-size: 18px;
    }
    
    .main-body{
        padding-bottom: 50px;
    }
    
    #main-heading{
        font-size: 60px;
        padding-top: 20px;
    }
    
    #sec-heading{
        font-size: 18px;
    }
    
    #third-heading{
        font-size: 14px;
        padding: 15px 15px 25px;
    }
    
    #homepage-button{
        padding: 5px 30px 9px 30px;
        font-size: 16px;
    }
    
    .footer{
        padding: 25px 20px 0px 20px;
    }
}

@media (max-width: 400px) {
    .dashboard{
        padding: 0px 15px;
    }
    
    #dashboard-logo{
        width: 45px;
    }
    
    #dashboard-text{
        font-size: 22px;
    }
    
    #main-heading{
        font-size: 48px;
    }
    
    #sec-heading{
        font-size: 16px;
    }
    
    #third-heading{
        font-size: 13px;
    }
    
    #homepage-button{
        padding: 5px 25px 9px 25px;
        font-size: 15px;
    }
    
    .footer{
        padding: 25px 15px 0px 15px;
    }
}