*{
    font-family: "apple-system" ,"BlinkMacSystemFont" ,"Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu,Cantarell" , "Helvetica Neue" , "sans-serif";
}

body{
    margin: 0px;
    background-color: whitesmoke;
}

.dashboard{
    display: flex;
    justify-content: space-between;
    padding: 10px 175px;
    box-shadow: 2px 1px 2px #eee;
    background-color: white;
}

.dashboard-branding{
    display: flex;
}

#dashboard-branding-logo{
    padding: 7px 3px;
}

#dashboard-branding-text{
    line-height: 0px;
    font-size: 20px;
}

.dashboard-linkedin{
    display: flex;
    opacity: 0.75;
    cursor: pointer;
}

#dashboard-linkedin-logo{
    margin: 23px 0px 16px 25px;
}

#dashboard-linkedin-text{
    padding-left: 7px;
    margin: 20px 0px 16px 0px;
    font-size: 18px;
    font-weight: 750;
    text-decoration: none;
    color: black;
}

.dashboard-linkedin:hover{
    opacity: 1;
    text-decoration: underline;
}

.dashboard-github{
    display: flex;
    opacity: 0.75;
    cursor: pointer;
}

#dashboard-github-logo{
    margin: 23px 0px 16px 25px;
}

#dashboard-github-text{
    padding-left: 7px;
    margin: 20px 0px 16px 0px;
    font-size: 18px;
    font-weight: 750;
    text-decoration: none;
    color: black;
}

.dashboard-github:hover{
    opacity: 1;
    text-decoration: underline;
}

.dashboard-buttons{
    display: flex;
}

.signUp-button{
    display: flex;
    padding: 15px 3px 3px 7px;
    margin-bottom: 7px;
    margin-right: 5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    opacity: 0.65;
    cursor: pointer;
    font-size: 20px;
}

.signUp-button:hover{
    background-color: red;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    padding: 5px 3px 5px 5px;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#signUp-button-text{
    margin: 0px;
    line-height: 0px;
    padding: 10px 5px;
    text-decoration: none;
    color: black;
}

#signup-button-text:hover{
    color: white;
}

#signUp-button-img{
    padding: 3px 10px 0px 0px;
}

.login-button{
    display: flex;
    padding: 15px 7px 3px 7px;
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
    opacity: 0.65;
    cursor: pointer;
    font-size: 20px;
}

.login-button:hover{
    opacity: 1;
    text-decoration: underline;
}

#login-button-text{
    margin: 0px;
    line-height: 0px;
    padding: 10px 2px;
    text-decoration: none;
    color: black;
}

#login-button-img{
    padding: 3px 10px 0px 0px;
}

.anonymous{
    display: none;
}

.signed-in{
    display: none;
}

.logout-button{
    display: flex;
    padding: 15px 0px 3px 10px;
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
    opacity: 0.65;
    cursor: pointer;
    font-size: 20px;
}

.logout-button:hover{
    opacity: 1.0;
    text-decoration: underline;
}

#logout-button-text{
    margin: 0px;
    line-height: 0px;
    padding: 10px 2px;
}

#logout-button-img{
    padding: 4px 0px 0px 5px;
}

.main-body{
    text-align: center;
}

#main-heading{
    line-height: 0px;
    font-size: 110px;
    padding-top: 25px;
}

.user-input-tab{
    background-color: rgba(255, 255, 255, 0.300);
    margin-left: 466px;
    margin-right: 466px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#newURL-input{
    height: 40px;
    width: 305px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.6);
    margin-right: 1px;
    font-weight: 400;
    outline: none;
    box-shadow: none;
}

#newURL-input:focus {
    border-color: #387ed1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
}

#newURL-button{
    background-color: #387ed1;
    color: white;
    padding: 3px 38px 9px 38px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

#newURL-button:hover{
    background-color: black;
}

#newURL-button-img{
    vertical-align: middle;
    padding-bottom: 5px;
}

.error{
    display: none;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
}

#error-img{
    padding-top: 5px;
}

#error-text{
    margin: 0px;
    color: red;
    padding-top: 4px;
    font-size: smaller;
    padding-left: 5px;
}

.short-url{
    display: none;
    justify-content: space-between;
    padding-left: 10px;
}

.response{
    display: flex;
}

.functions{
    display: flex;
    margin-top: 8px;
}

#url-text{
    margin-top: 0px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 10px 8px;
    font-size: 25px;
}

#url-link{
    padding-top: 18px;
}

#shrinked-url{
    text-decoration: none;
    text-decoration: underline;
    color: rgb(8, 93, 189);
    font-weight: 600;
    font-size: 15px;
}

#copy-url-img{
    padding: 10px 30px;
    cursor: pointer;
    opacity: 0.65;
}

#copy-url-img:hover{
    opacity: 1;
}

.qrcode{
    display: flex;
    cursor: pointer;
    opacity: 0.75;
}

.qrcode:hover{
    opacity: 1;
    text-decoration: underline;
}

#qrcode-img{
    padding: 9px 40px 6px 0px;
}