*{
    font-family: "apple-system" ,"BlinkMacSystemFont" ,"Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu,Cantarell" , "Helvetica Neue" , "sans-serif";
}

body{
    background-color: whitesmoke;
}

.main-body{
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 150px 350px 100px 300px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login-form{
    padding: 25px 20px 10px 30px;
}

#login-header{
    margin: 0px;
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}

#username-tab{
    padding-bottom: 5px;
}

#username-input{
    font-size: 15px;
    font-weight: 250;
    height: 40px;
    width: 360px;
    padding-left: 20px;
    border: 1px solid rgba(128, 128, 128, 0.6);
    border-radius: 5px;
    outline: none;
    box-shadow: none;
}
#username-input:focus{
    border-color: #387ed1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
}

#email-tab{
    padding-bottom: 5px;
}

#email-input{
    font-size: 15px;
    font-weight: 250;
    height: 40px;
    width: 360px;
    padding-left: 20px;
    border: 1px solid rgba(128, 128, 128, 0.6);
    border-radius: 5px;
    outline: none;
    box-shadow: none;
}

#email-input:focus{
    border-color: #387ed1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
}

#password-input{
    font-size: 15px;
    font-weight: 250;
    height: 40px;
    width: 360px;
    padding-left: 20px;
    border: 1px solid rgba(128, 128, 128, 0.6);
    border-radius: 5px;
    outline: none;
    box-shadow: none;
}

#password-input:focus{
    border-color: #387ed1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
}

#login-button{
    background-color: #387ed1;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0px 0px 0px;
    padding-bottom: 5px;
    cursor: pointer;
}

#login-button:hover{
    background-color: black;
    color: white;
}

.login-error{
    display: none;
}

#login-error-img{
    padding-top: 9px;
    padding-right: 5px;
}

#login-error-text{
    margin: 0px;
    padding-top: 6px;
    font-weight: 300;
    color: red;
}

@media (max-width: 1200px) {
    .main-body{
        margin: 100px 200px 80px 200px;
    }
}

@media (max-width: 992px) {
    .main-body{
        margin: 80px 150px 60px 150px;
    }
    
    .login-form{
        padding: 20px 15px 10px 25px;
    }
    
    #login-header{
        font-size: 35px;
    }
    
    #username-input{
        width: 320px;
    }
    
    #email-input{
        width: 320px;
    }
    
    #password-input{
        width: 320px;
    }
}

@media (max-width: 768px) {
    .main-body{
        margin: 60px 100px 50px 100px;
    }
    
    .login-form{
        padding: 20px 15px 10px 20px;
    }
    
    #login-header{
        font-size: 32px;
    }
    
    #username-input{
        width: 280px;
    }
    
    #email-input{
        width: 280px;
    }
    
    #password-input{
        width: 280px;
    }
}

@media (max-width: 576px) {
    .main-body{
        margin: 40px 30px 30px 30px;
    }
    
    .login-form{
        padding: 20px 15px 10px 15px;
        width: 100%;
    }
    
    #login-header{
        font-size: 28px;
        padding-bottom: 15px;
    }
    
    #username-input{
        width: 100%;
        max-width: 300px;
        font-size: 14px;
    }
    
    #email-input{
        width: 100%;
        max-width: 300px;
        font-size: 14px;
    }
    
    #password-input{
        width: 100%;
        max-width: 300px;
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .main-body{
        margin: 30px 20px 20px 20px;
    }
    
    .login-form{
        padding: 15px 10px 10px 10px;
    }
    
    #login-header{
        font-size: 24px;
    }
    
    #username-input{
        max-width: 260px;
        height: 38px;
        font-size: 13px;
        padding-left: 15px;
    }
    
    #email-input{
        max-width: 260px;
        height: 38px;
        font-size: 13px;
        padding-left: 15px;
    }
    
    #password-input{
        max-width: 260px;
        height: 38px;
        font-size: 13px;
        padding-left: 15px;
    }
    
    #login-error-text{
        font-size: 14px;
    }
}