*{
    font-family: "apple-system" ,"BlinkMacSystemFont" ,"Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu,Cantarell" , "Helvetica Neue" , "sans-serif";
}

body{
    background-color: whitesmoke;
}

.main-body{
    text-align: center;
    margin-top: 125px;
    display: none;
}

#heading{
    font-size: 100px;
    margin: 0px;
}

#newqr-input{
    height: 40px;
    width: 280px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.6);
    margin-right: 1px;
    font-weight: 400;
    outline: none;
    box-shadow: none;
}

#newqr-input:focus{
    border-color: #387ed1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
}

#newqr-button{
    background-color: #387ed1;
    color: white;
    padding: 9px 10px 11px 10px;
    border-radius: 5px;
    font-weight: 650;
    font-size: 15px;
    cursor: pointer;
}

#newqr-button:hover{
    background-color: black;
}

.qrcode{
    margin-top: 20px;
}

.qrcode-body{
    display: none;
    justify-content: center;
    background-color: white;
    margin: 10px 540px 100px 540px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.download{
    background-color: #63A361;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0px 0px 10px 10px;
}

.download:hover{
    background-color: #387ed1;
}

#download-button{
    margin: 0px;
}

#qrcode-img{
    display: block;
    margin: 0 auto;
}

#download-button-text{
    text-decoration: none;
    font-size: 30px;
    font-weight: 750;
    color: white;
    padding-bottom: 5px;
}

.no-access{
    margin-top: 20vh;
    display: none;
}

#no-access-img{
    text-align: center;
}

#no-access-text{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.error{
    display: none;
    padding: 3px 0px 3px 10px;
    margin-left: 510px;
}

#error-img{
    padding-top: 6px;
}

#error-text{
    margin: 0px;
    color: red;
    padding-top: 4px;
    font-size: smaller;
    padding-left: 5px;
}