*{
    font-family: "apple-system" ,"BlinkMacSystemFont" ,"Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu,Cantarell" , "Helvetica Neue" , "sans-serif";
}

body{
    background-color: whitesmoke;
}

.main-body{
    text-align: center;
    margin-top: 125px;
    display: none;
}

#heading{
    font-size: 100px;
    margin: 0px;
}

#newqr-input{
    height: 40px;
    width: 280px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.6);
    margin-right: 1px;
    font-weight: 400;
    outline: none;
    box-shadow: none;
}

#newqr-input:focus{
    border-color: #387ed1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
}

#newqr-button{
    background-color: #387ed1;
    color: white;
    padding: 9px 10px 11px 10px;
    border-radius: 5px;
    font-weight: 650;
    font-size: 15px;
    cursor: pointer;
}

#newqr-button:hover{
    background-color: black;
}

.qrcode{
    margin-top: 20px;
}

.qrcode-body{
    display: none;
    justify-content: center;
    background-color: white;
    margin: 10px 540px 100px 540px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.download{
    background-color: #63A361;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0px 0px 10px 10px;
}

.download:hover{
    background-color: #387ed1;
}

#download-button{
    margin: 0px;
}

#qrcode-img{
    display: block;
    margin: 0 auto;
}

#download-button-text{
    text-decoration: none;
    font-size: 30px;
    font-weight: 750;
    color: white;
    padding-bottom: 5px;
}

.no-access{
    margin-top: 20vh;
    display: none;
}

#no-access-img{
    text-align: center;
}

#no-access-text{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.error{
    display: none;
    padding: 3px 0px 3px 10px;
    margin-left: 510px;
}

#error-img{
    padding-top: 6px;
}

#error-text{
    margin: 0px;
    color: red;
    padding-top: 4px;
    font-size: smaller;
    padding-left: 5px;
}

@media (max-width: 1200px) {
    .qrcode-body{
        margin: 10px 400px 100px 400px;
    }
    
    .error{
        margin-left: 370px;
    }
}

@media (max-width: 992px) {
    .main-body{
        margin-top: 100px;
    }
    
    #heading{
        font-size: 80px;
    }
    
    #newqr-input{
        width: 240px;
    }
    
    .qrcode-body{
        margin: 10px 300px 80px 300px;
    }
    
    .error{
        margin-left: 270px;
    }
    
    #download-button-text{
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    .main-body{
        margin-top: 80px;
    }
    
    #heading{
        font-size: 70px;
    }
    
    #newqr-input{
        width: 220px;
    }
    
    #newqr-button{
        padding: 9px 8px 11px 8px;
        font-size: 14px;
    }
    
    .qrcode-body{
        margin: 10px 200px 60px 200px;
    }
    
    .error{
        margin-left: 170px;
    }
    
    #download-button-text{
        font-size: 24px;
    }
    
    #no-access-text{
        font-size: 18px;
        padding: 0px 20px;
    }
}

@media (max-width: 576px) {
    .main-body{
        margin-top: 60px;
        padding: 0px 20px;
    }
    
    #heading{
        font-size: 50px;
    }
    
    #newqr-input{
        width: 180px;
        height: 38px;
        font-size: 14px;
    }
    
    #newqr-button{
        padding: 8px 7px 10px 7px;
        font-size: 13px;
    }
    
    .qrcode-body{
        margin: 10px 50px 50px 50px;
    }
    
    .error{
        margin-left: 20px;
        margin-right: 20px;
        padding: 3px 5px 3px 5px;
    }
    
    #download-button-text{
        font-size: 20px;
    }
    
    #no-access-text{
        font-size: 16px;
        padding: 0px 15px;
    }
}

@media (max-width: 400px) {
    .main-body{
        margin-top: 50px;
        padding: 0px 15px;
    }
    
    #heading{
        font-size: 40px;
    }
    
    #newqr-input{
        width: 150px;
        height: 36px;
        font-size: 13px;
        padding-left: 12px;
        padding-right: 12px;
    }
    
    #newqr-button{
        padding: 7px 6px 9px 6px;
        font-size: 12px;
    }
    
    .qrcode-body{
        margin: 10px 30px 40px 30px;
    }
    
    .error{
        margin-left: 15px;
        margin-right: 15px;
    }
    
    #error-text{
        font-size: 12px;
    }
    
    #download-button-text{
        font-size: 18px;
    }
    
    #no-access-text{
        font-size: 14px;
        padding: 0px 10px;
    }
}