body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
    video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}